<!DOCTYPE html><% if (isSP) { %>
<html style="font-size: 12px" class="SP">
  <% } else {%>
  <html>
    <% } %>
    <head>
      <meta name="viewport" , content="width=device-width,initial-scale=1" />
      <title><%= userComments[0].username %><%= __('utitle') %></title>
      <link rel="stylesheet" href="/css/user-comments.css" />
      <link
        href="https://fonts.googleapis.com/earlyaccess/hannari.css"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css"
        rel="stylesheet"
      />
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"
      />
    </head>
    <body>
      <div class="header-img">
        <img src="/image/image1.png" />

        <h1 class="text-center">
          <%= userComments[0].username %><%= __('utitle') %>
        </h1>
      </div>
      <div class="comments-list">
        <% for (let comment of userComments) { %>
        <div class="comment mb-4">
          <h1 class="skill-title"><u><%= comment.skill %></u></h1>
          <h2 class="skill-details">
            <%= __('detail') %><br />

            <div class="skill-details1">
              <%- comment.comment.replace(/\n/g, '<br />') %>
            </div>
          </h2>

          <form
            class="like-form align-items-center"
            action="/like/<%= comment.id %>/"
            method="post"
          >
            <button type="submit" class="likebtn">💙</button>
            <span class="likes"><%= comment.likes %> Likes</span>
            <input
              type="hidden"
              name="redirect"
              value="/user/<%= comment.username %>"
            />
          </form>
          <p class="date text-muted">
            Date: <%= new Date(comment.date).toLocaleString() %>
          </p>
        </div>
        <% } %>
      </div>
      <a class="btn1" href="/"><%= __('cbtn1') %></a>
    </body>
  </html>
</html>
